<!---
Details Card

This template displays weather data for a specific Location.
It uses OpenWeatherMap to retrieve weather information when the location prop is changed.
--->
<template>
  <v-tabs
      ref="details-card-tabs"
      light
      v-if="location && weatherArr.length"
      v-bind="growBinding"
      show-arrows
  >
    <v-tab v-for="(wd, n) in weatherArr" :key="`tab-${n}`" ref="details-card-tab">
      {{wd.date.format('DD/MM')}}
    </v-tab>

    <v-tab-item v-for="(wd, n) in weatherArr" :key="`tab-item-${n}`">
      <v-card>
        <v-responsive v-bind="aspectBinding">
          <v-layout v-bind="layoutBinding">
            <WeatherImage :weather-day="wd"/>
            <v-flex md7>
              <v-card-title primary-title>
                <div>
                  <div class="headline">{{wd.date.format('dddd, MMMM Do')}}</div>
                  <div>{{location.name}}</div>
                </div>
              </v-card-title>
              <v-card-text>
                <v-layout row wrap>
                  <!-- temperature -->
                  <v-flex xs2 class="text-xs-center" mb-1>
                    <v-icon>fas fa-thermometer-empty</v-icon>
                  </v-flex>
                  <v-flex xs4 class="text-xs-left min-temp">
                    {{wd.temp.min | toFixed(0)}}&#x2103;
                  </v-flex>
                  <v-flex xs2 class="text-xs-center" mb-1>
                    <v-icon>fas fa-thermometer-full</v-icon>
                  </v-flex>
                  <v-flex xs4 class="text-xs-left max-temp">
                    {{wd.temp.max | toFixed(0)}}&#x2103;
                  </v-flex>
                  <!-- wind -->
                  <v-flex xs2 class="text-xs-center" mb-1>
                    <v-icon>fas fa-align-right</v-icon>
                  </v-flex>
                  <v-flex xs10 class="text-xs-left wind">
                    {{wd.wind | toFixed(0)}} mph
                  </v-flex>
                  <!-- rain -->
                  <v-flex xs2 class="text-xs-center" mb-1>
                    <v-icon>fas fa-umbrella</v-icon>
                  </v-flex>
                  <v-flex xs10 class="text-xs-left rain">
                    {{wd.rain | toFixed(1)}} mm
                  </v-flex>
                  <!-- pressure -->
                  <v-flex xs2 class="text-xs-center">
                    <v-icon>fas fa-tachometer-alt</v-icon>
                  </v-flex>
                  <v-flex xs10 class="text-xs-left pressure">
                    {{wd.pressure.min | toFixed(0)}} - {{wd.pressure.max | toFixed(0)}} hPa
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-responsive>
      </v-card>
    </v-tab-item>
  </v-tabs>
  <v-card v-else-if="!location" ref="details-card-no-location-v-card">
    <v-card-title primary-title>
      <div>
        <div class="headline">No location selected</div>
        <div>Please select a location using the search field above.</div>
      </div>
    </v-card-title>
  </v-card>
  <v-card v-else-if="location && loading" ref="details-card-loading-v-card">
    <v-card-title primary-title>
      <div>
        <div class="headline">Loading weather data</div>
        <div>{{location.name}}</div>
      </div>
    </v-card-title>
  </v-card>
  <v-card v-else-if="location && !loading && !weatherArr.length" ref="details-card-error-v-card">
    <v-card-title primary-title>
      <div>
        <div class="headline">Error loading weather data</div>
        <div>{{location.name}}</div>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>

import WeatherImage from './WeatherImage'
import { WeatherDay } from '../models/WeatherDay'
import axios from 'axios'

export default {
  name: 'DetailsCard',
  components: { WeatherImage },
  computed: {
    layoutBinding () {
      const binding = {}
      if (this.$vuetify.breakpoint.xsOnly) binding.column = true
      return binding
    },
    aspectBinding () {
      const binding = {}
      // aspect ratio is used instead of a min height. 2.6 allows iphone 6 landscape to have no scroll vertically
      if (this.$vuetify.breakpoint.smAndUp) binding['aspect-ratio'] = 2.6
      return binding
    },
    growBinding () {
      const binding = {}
      if (this.$vuetify.breakpoint.smAndUp) binding['grow'] = true // fills the width
      return binding
    }
  },
  props: {
    location: Object
  },
  data () {
    return {
      weatherArr: [],
      loading: false
    }
  },
  watch: {
    /**
     * @param val Location
     */
    location (val) {
      this.weatherArr = []
      if (!val) return
      this.loading = true
      this.fetchOpenWeatherMap(val.lat, val.lng)
        .then(response => {
          this.weatherArr = WeatherDay.ParseOpenWeatherMap(response.data)
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          // console.error('There was an error loading the OpenWeatherMap forecast data', err)
          return err
        })
    }
  },
  filters: {
    toFixed: (val, decimals = 0) => {
      return val.toFixed(decimals)
    }
  },
  methods: {
    /**
     * Use fetch to call the Open Weather Map api using the supplied latitude and longitude.
     * @param lat Latitude
     * @param lng Longitude
     * @returns {Promise<Response>}
     */
    fetchOpenWeatherMap (lat, lng) {
      return axios.get(`https://api.openweathermap.org/data/2.5/forecast?lat=${lat}&lon=${lng}&APPID=7585461840b26c014d23ad0ad0d2394b&units=metric`)
    }
  }
}
</script>

<style scoped>

</style>
