<!---
Title Bar

This template displays currently selected location and allows the location to be changed.
It uses LocationIQ to search for valid towns/cities within the UK.
It emits a change event with attached Location when the user selects a new location.
--->
<template>
  <v-toolbar dark color="primary">
    <v-btn ref="title-bar-search-btn" icon v-on:click="toggleSearchMode" title="Change Location">
      <v-icon ref="title-bar-search-icon">{{currentSearchIcon}}</v-icon>
    </v-btn>
    <v-toolbar-title
        ref="title-bar-title-text"
        v-if="!searchMode"
        v-on:click="toggleSearchMode"
        class="white--text"
        title="Click here to change Location"
    >{{result ? result.text : 'No Location Selected'}}</v-toolbar-title>
    <v-autocomplete
        v-if="searchMode"
        ref="title-bar-search"
        v-on:blur="setSearchMode(false)"
        v-model="result"
        :loading="loading"
        :items="items"
        :search-input.sync="search"
        cache-items
        flat
        hide-details
        solo-inverted
        return-object
        class="search-input"
    ></v-autocomplete>
    <v-spacer></v-spacer>
    <v-btn icon v-if="canGeolocate()" v-on:click="geolocate" ref="title-bar-geolocate-btn">
      <v-icon>my_location</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>

import debounce from 'debounce'
import { Location } from '../models/Location'

export default {
  name: 'TitleBar',
  methods: {
    toggleSearchMode () {
      this.setSearchMode(!this.searchMode)
    },
    // set search mode - performing some helpful tasks for usability and visuals
    setSearchMode (bool) {
      this.searchMode = bool
      this.currentSearchIcon = this.searchMode ? 'close' : 'search'
      if (this.searchMode) {
        // if we change to search mode then focus the input
        this.focusSearchInput()
      }
    },
    querySelections (txt) {
      this.loading = true

      fetch(locationIQUri + `&q=${txt}`, {
        method: 'get'
      })
        .then(response => response.json())
        .then(jsonData => {
          this.loading = false
          this.items = []
          if (!jsonData || jsonData.error) {
            // TODO: Handle this error
            console.error('Failed to load/get results for this location')
            return
          }
          // filter and convert the results into an array of Location objects
          this.items = jsonData.filter(Location.IsValidLocationIQ).map(mapResultsForAutocomplete)
        })
        .catch(err => {
          console.error('There was an error loading the LocationIQ search data', err)
          this.items = []
          return err
        })
    },
    canGeolocate () {
      return Boolean(navigator.geolocation)
    },
    geolocate () {
      navigator.geolocation.getCurrentPosition(this.geolocatedPosition)
    },
    geolocatedPosition (position) {
      this.result = {
        text: 'Current location',
        value: new Location('Current location', position.coords.latitude, position.coords.longitude)
      }
    },
    focusSearchInput () {
      this.$nextTick(() => this.$refs['title-bar-search'].focus())
    }
  },
  created () {
    this.querySelections = debounce(this.querySelections, 400)
  },
  data () {
    return {
      searchMode: false,
      currentSearchIcon: 'search',
      loading: false,
      items: [],
      search: null,
      result: null
    }
  },
  watch: {
    search (val) {
      val && val !== this.select && this.querySelections(val)
    },
    result (val) {
      this.setSearchMode(false)
      this.$emit('change', this.result ? this.result.value : null)
    }
  }
}

// Uri for the LocationIQ search endpoint - this const is missing the query ("q") parameter
const locationIQUri = 'https://eu1.locationiq.com/v1/search.php' +
  '?key=pk.a777aa9ee2c706cf7848296ab182124a' + // our public key
  '&format=json' + // default is xml, we want json
  '&normalizecity=1' + // supposed to improve the results (as far as were concerned) to ensure there is a city name
  '&addressdetails=1' + // include address data
  '&limit=10' + // default is 10
  '&zoom=10' + // zoom 10 is 'city' level zoom
  '&countrycodes=gb' // get results from the UK

/**
 * Convert a locationIQ result into a Location wrapped for use in the Autocomplete component
 * @param item
 * @returns {*}
 */
function mapResultsForAutocomplete (item) {
  let location = Location.CreateFromLocationIQ(item)
  if (!location) return null
  return {
    text: location.name,
    value: location
  }
}

</script>

<style scoped>

</style>
