<!---
Weather Image

This template displays an animated svg (or static png) based on a single days weather.
The png determination is based on which browsers support svg-smil.
It uses the bowser library to make that determination.
--->
<template>
  <v-img
      md5
      v-bind="imageHeightBinding"
      :src="weatherImageSrc"
      contain
  ></v-img>
</template>

<script>

import bowser from 'bowser/bundled'

export default {
  name: 'WeatherImage',
  props: {
    weatherDay: Object // WeatherDay instance
  },
  computed: {
    weatherImageSrc () {
      let filename = ''
      let ext = supportsSvg() ? 'svg' : 'png'
      if (this.weatherDay) {
        if (this.weatherDay.hasThunderstorm) {
          // if there's a thunderstorm show that icon
          filename = 'thunder'
        } else if (this.weatherDay.hasHeavySnow) {
          if (this.weatherDay.hasHeavyCloud) {
            filename = 'snow-5'
          } else {
            filename = 'snow-3'
          }
        } else if (this.weatherDay.hasLightSnow) {
          if (this.weatherDay.hasHeavyCloud) {
            filename = 'snow-4'
          } else {
            filename = 'snow-2'
          }
        } else if (this.weatherDay.hasHeavyRain) {
          if (this.weatherDay.hasHeavyCloud) {
            filename = 'rainy-5'
          } else {
            filename = 'rainy-3'
          }
        } else if (this.weatherDay.hasLightRain) {
          if (this.weatherDay.hasHeavyCloud) {
            filename = 'rainy-4'
          } else {
            filename = 'rainy-2'
          }
        } else if (this.weatherDay.hasHeavyCloud) {
          filename = 'cloudy'
        } else if (this.weatherDay.hasLightCloud) {
          filename = 'cloudy-day-3'
        } else {
          // it's clear!
          filename = 'day'
        }
      } else {
        filename = 'missing'
      }
      return `/images/weather/${filename}.${ext}`
    },
    imageHeightBinding () {
      const binding = {}
      if (this.$vuetify.breakpoint.xsOnly) binding.height = '50vw' // set height of image to half of viewport
      return binding
    }
  }
}

/**
 * Does the browser support svg-smil.
 * Versions retrieved from https://caniuse.com/#feat=svg-smil
 * @returns {Boolean} Browser support of svg-smil
 */
function supportsSvg () {
  return bowser.getParser(window.navigator.userAgent).satisfies({
    chrome: '>4',
    firefox: '>4',
    opera: '>11',
    safari: '>6'
  })
}

</script>

<style scoped>

</style>
