<template>
  <v-app>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex sm12 md10 lg8 xl6>
          <TitleBar v-on:change="locationChange"/>
          <DetailsCard v-bind:location="location"/>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>

import TitleBar from './components/TitleBar'
import DetailsCard from './components/DetailsCard'

export default {
  name: 'App',
  components: { DetailsCard, TitleBar },
  data () {
    return {
      location: null
    }
  },
  methods: {
    locationChange (loc) {
      this.location = loc
    }
  }
}

</script>
